{% extends "layout/base.html"%}
{% block title %}Cập nhật mật khẩu{% endblock %}
{% block body%}
<div class="card matkhau-card">
    <form class="d-flex mb-3 " action="/taikhoan">
            <button class="btn btn-secondary" type="submit">Quay về</button>
    </form>
    <form action="/capnhatmatkhau" method="post">
        {% if success_msg %}
            <div class="alert alert-success mt-2">{{ success_msg }}</div>
        {% endif %}

        {% if err_msg%}
            <div class="alert alert-danger mt-2">{{ err_msg }}</div>
        {% endif %}

        <div class="mb-3">
            <label class="form-label">Mật khẩu hiện tại</label>
            <input type="password" class="form-control" id="pswd-current" placeholder="Nhập mật khẩu hiện tại" name="pswd-current" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Mật khẩu mới</label>
            <input type="password" class="form-control" id="pswd-new" placeholder="Nhập mật khẩu mới" name="pswd-new" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Mật khẩu mới</label>
            <input type="password" class="form-control" id="pswd-new-again" placeholder="Nhập lại mật khẩu mới" name="pswd-new-again" required>
        </div>
        <div class="form-check mb-3">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="confirm" required> Đồng ý thay đổi mật khẩu
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Thay đổi mật khẩu</button>
    </form>

</div>
{% endblock %}